.game-data {
    text-transform: uppercase;
    font-size: 16px;
    margin: 0 auto 10px auto;
    display: flex;
    justify-content: space-around;
    width: 400px;
    gap: 10px
}

.game-message {
    color: #505adf;
    margin: 8px;
    height: 20px;
}

.level {
    color: #ef8f0c;
}

.verifications {
    color: #dd1608;
}

.verify {
    text-transform: uppercase;
    border: 1px solid #61dafb;
    color: #61dafb;
    background-color: #282c34;
    border-radius: 5px;
        cursor: pointer;
}

.verify:hover {
    border: 1px solid #282c34;
    color: #282c34;
    background-color: #61dafb;
}

.reset {
    text-transform: uppercase;
    border: 1px solid #fb8061;
    color: #fb8061;
    background-color: #282c34;
    border-radius: 5px;
    cursor: pointer;
}

.reset:hover {
    border: 1px solid #282c34;
    color: #282c34;
    background-color: #fb8061;
}
.tileset {
    border: 1px solid #61dafb;
    width: 1600px;
        height: 800px;
    margin: auto;
    color: #61dafb;
    text-align: left;
    cursor: pointer;
    overflow: auto;
    font-size: 8px;
    padding-bottom: 20px;
}

.row {
    display: flex;
}

.row:hover {
    color: rgb(10, 216, 10);
}

.tile:hover {
    color: #505adf;
}

.level-1 {
    font-size: 64px;
    width: 512px;
        height: 512px;
}

.level-2 {
    font-size: 24px;
    width: 600px;
        height: 480px;
}

.level-3 {
    font-size: 16px;
    width: 800px;
        height: 800px;
}